
<head>
  <link <link href="https://fonts.googleapis.com/css?family=Arizonia" rel="stylesheet">

  <style media="screen">
    .navbar-brand{
      font-family: 'Arizonia', cursive;
      font-size: 40px;
    }
    .mynavi{
      color: #FF0045;
      font-size: 20px;
    }
  </style>
</head>


<br>

<br>
  <div class="mynavi">
    <nav ng-if="main.currentUser" class="navbar navbar-default navbar-custom affix navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">

          <button ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a ui-sref="home" class="navbar-brand">Inked Gal!</a>
        </div>

        <div class="collapse navbar-collapse" uib-collapse="navCollapsed">
          <!-- Main nav links -->
          <ul class="nav navbar-nav navbar-right">

            <li><a ui-sref="profile">My Profile</a></li>
            <li><a ui-sref="inks">Inks</a></li>
          </ul>

              </div>
            </div>
          </form>
        </nav>
      </div>
