<head>
  <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
</head>

<style media="screen">
  .bckg-img{
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -9999;
    opacity: 0.5;
  }
  .hmpg{
    width: 400px;
    height: 400px;
    float: right;
    color: #FF048B;
    margin-top: -60px;
  }
  h1{
    font-size: 75px;
    font-family: 'Kaushan Script', cursive;
  }
  p{
    font-size: 30px;
  }
</style>

<div class="hmpg">
  <h1>Inked Gal</h1>
  <p>Find inspirations for your ink!</p>

  <br>

  <button class="btn btn-info btn-lg" ui-sref="login">Login</button>

  <button class="btn btn-info btn-lg" ui-sref="register">Sign Up</button>
  </div>

  <div>
    <img src="http://www.tattoo.com/sites/default/files/u8050/shutterstock_140990137.jpg" class="bckg-img" />
  </div>
